parameters:
  phpVersion: 80200
  level: 1
  paths:
    - MDB2.php
    - MDB2
  fileExtensions:
    - php
    - inc
  editorUrl: '%%relFile%%:%%line%%'
  editorUrlTitle: '%%relFile%%:%%line%%'
  errorFormat: table

# Checks from higher levels that we want to include here
# Level 2
  checkClassCaseSensitivity: true
  checkPhpDocMissingReturn: true
#  checkThisOnly: false
# Level 3
  checkPhpDocMethodSignatures: true
# Level 5
  checkFunctionArgumentTypes: true

  # @todo these errors should eventually be fixed
  ignoreErrors:
    -
      message: "#^Variable \\$affected_rows might not be defined\\.$#"
      count: 1
      path: MDB2/Driver/Common.php

    -
      message: "#^Constructor of class MDB2_Error has an unused parameter \\$dummy\\.$#"
      count: 1
      path: MDB2/Error.php
